
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


.ui-header{
    background: url("../img/menu_bar4.png") top left !important;
    border-bottom: 1px solid #999999 !important;
}
#loginForm{
    background: url("../img/menu_bg6.png") top left !important;
    color : white;
}

#menuPanel{
    background: url("../img/menu_bg6.png") top left !important;
    color : white;
}

#menuPanelTitle{
    color : white;
}

#menuListView{
    background: inherit;
    color : white;
}


#menuListView a{
    font-size:14px;
    text-shadow: none !important;
    background: inherit;
    color : white;
    font-weight : normal;
    border-color: black;
}

.ui-page{
    background: url("../img/bg2.png") top left !important;
}

.ui-panel-wrapper{
    background: inherit !important;

}

body{
	font-family: 'Nanum Gothic';
	font-size : 15px;
}

.ui-btn {
	font-family: 'Nanum Gothic';
}
.clearfix{
	clear:both;
}

ol, ul {
	list-style: none;
	padding:0;
	margin:0;
}

.boxed {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
	position: relative;
}
.boxed-transparent {
    background-color: #a9728e;
    background-color: rgba(255,255,255,0.1);
}


/* flash message style */
.flash          { background: #CEE5F5; padding: 0.5em; }

