{% extends "mobile_base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}"/>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}
{% block title %}
    <h2 class="ui-title">장바구니</h2>
{% endblock %}
{% block special_header%}
    <div class="total-cost-box">
       <div id="total-cost">
         총 결제 금액 : <span class="total-cost">148000</span>원
       </div>
       <div class="purchase-btn">
          <input type="button" data-mini="true" data-shadow="false" value="결제하기" data-inline="true">
       </div>
       <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

<div class="ui-grid-solo cart-list">
    <div class="ui-block-a" id="is123">
        <div class="cart-list-item boxed">
           <img class="product-img" src="{{ url_for('static', filename='img/comment-1.jpg') }}"/>
           <div class="product-contents">
               <div class="product-info">
                   <h4>IOPE 남자 white skin </h4>
                   <p class="product-desc">
                       남자 BB 크림
                   </p>
                   <div>
                       <div class="buy-cnt">
                           <label for="is123-cnt" class="select-box-name">수량: </label>
                           <select data-mini="true" class="product-cnt-selectbox" data-id="is123">
                                <option value="0">0</option>
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                           </select>
                       </div>
                       <div  class="clearfix"></div>
                   </div>
               </div>
           </div>
           <div class="product-cost">
               금액 : <span class="price" id="is123-price">11220</span>원
           </div>
           <div class="product-delete">
               <input type="button" class="product-del-btn" data-mini="true" data-shadow="false" data-id="is123" value="삭제하기">
           </div>
           <div class="clearfix"></div>
        </div>
    </div>
    <div class="ui-block-a" id="is124">
        <div class="cart-list-item boxed">
           <img class="product-img" src="{{ url_for('static', filename='img/comment-1.jpg') }}"/>
           <div class="product-contents">
               <div class="product-info">
                   <h4>IOPE 남자 white skin </h4>
                   <p class="product-desc">
                       남자 BB 크림
                   </p>
                   <div>
                       <div class="buy-cnt">
                           <label for="is124-cnt" class="select-box-name">수량: </label>
                           <select data-mini="true" class="product-cnt-selectbox" data-id="is124">
                                <option value="0">0</option>
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                           </select>
                       </div>
                       <div  class="clearfix"></div>
                   </div>
               </div>
           </div>
           <div class="product-cost">
               금액 : <span class="price" id="is124-price">21220</span>원
           </div>
           <div class="product-delete">
               <input type="button" class="product-del-btn" data-mini="true" data-shadow="false" data-id="is124" value="삭제하기">
           </div>
           <div class="clearfix"></div>
        </div>
    </div>
    <div class="ui-block-a" id="is125">
        <div class="cart-list-item boxed">
           <img class="product-img" src="{{ url_for('static', filename='img/comment-1.jpg') }}"/>
           <div class="product-contents">
               <div class="product-info">
                   <h4>IOPE 남자 white skin </h4>
                   <p class="product-desc">
                       남자 BB 크림
                   </p>
                   <div>
                       <div class="buy-cnt">
                           <label for="is125-cnt" class="select-box-name">수량: </label>
                           <select data-mini="true" class="product-cnt-selectbox" data-id="is125">
                                <option value="0">0</option>
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                           </select>
                       </div>
                       <div  class="clearfix"></div>
                   </div>
               </div>
           </div>
           <div class="product-cost">
               금액 : <span class="price" id="is125-price">31450</span>원
           </div>
           <div class="product-delete">
               <input type="button" class="product-del-btn" data-mini="true" data-shadow="false" data-id="is125" value="삭제하기">
           </div>
           <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}