{% extends "mypage_web.html" %}
{% block subHeader %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_interesting_web.css') }}"/>

<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mypage_interesting_web.js') }}"></script>
{% endblock %}
{% block productGrid %}
<div id="productHoverArea">
    <div id="opacityBg"></div>
    <div id="hoverButtonList">
        <div class="btn-group-vertical">
          <div class="btn-group">
            <button type="button" class="btn btn-default">장바구니 넣기</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default">바로 구매</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">삭제</button>
          </div>
        </div>
    </div>
</div>

{% for product in products %}

<div class="product-item" id="item-{{ product.product_id }}" data-attr="{{ product.product_id }}">
    <div class="product-img">
        <img src="{{ product.product_big_img}}" alt="" />
    </div>
    <div class="product-info">
        [{{ product.product_brand }}]<br/>
        {% if (product.product_name|length) > 17 %}
            <a href="{{ url_for('productDetail') }}">{{product.product_name[:17] }}..</a>
        {% else %}
            <a href="{{ url_for('productDetail') }}">{{product.product_name  }}</a>
        {% endif %}

        <div class="product-price-box">
            Price : <b>￦{{ product.product_price }} ({{product.product_capacity }}ml)</b><br/>
            Category : <b>{{ product.product_type }}</b>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}