{% extends "mypage_web.html" %}
{% block subHeader %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_purchase_web.css') }}"/>

{% endblock %}
{% block productGrid %}
    {% for product in products %}
    <div class="product-info product-item">
        <div class="product-contents">
            <h4><a href="{{ url_for('productDetail') }}">{{product.product_name  }}</a></h4>
            <div class="product-price-box">
                Price : <b>￦{{product.product_price}}</b> ({{ product.product_capacity  }}ml)<br/>
            </div>
        </div>
        <div class="list-btn-wrapper btn-group-vertical">
            <div class="btn-group">
                <button type="button" class="btn btn-default">다시 구매</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">반품 신청</button>
            </div>
        </div>
        <div class="product-img">
            <img src="{{product.product_big_img }}" alt="" />
        </div>
        <div class="clearfix"></div>
    </div>
    <hr/>
    {% endfor %}

{% endblock %}