{% extends "mypage_web.html" %}
{% block subHeader %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_interesting_web.css') }}"/>

<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mypage_interesting_web.js') }}"></script>
{% endblock %}
{% block productGrid %}
<div id="productHoverArea">
    <div id="opacityBg"></div>
    <div id="hoverButtonList">
        <div class="btn-group-vertical">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-for-cart">장바구니 넣기</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default">바로 구매</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">삭제</button>
          </div>
        </div>
    </div>
</div>

{% for interest in interests %}

<div class="product-item" id="item-{{ interest.product.key}}" data-attr="{{ interest.product.key }}">
    <div class="product-img">
        <img src="{{ interest.product.big_img_url}}" alt="" />
    </div>
    <div class="product-info">
        [{{ interest.product.brandname }}]<br/>
        {% if (interest.product.name|length) > 17 %}
            <a href="{{ url_for('productDetail',product_key=interest.product.key) }}">{{interest.product.name[:17] }}..</a>
        {% else %}
            <a href="{{ url_for('productDetail', product_key=interest.product.key) }}">{{interest.product.name  }}</a>
        {% endif %}

        <div class="product-price-box">
            Price : <b>￦{{ interest.product.price }} ({{interest.product.capacity }}ml)</b><br/>
            Category : <b>{{ interest.product.category_name }}</b>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}